* {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    vertical-align: bottom;
}

.logo a img {
    width: 10vh;
    height: 6vh;
}

.item-group {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

.footer {
    background-color: #333;
    color: #aaa;
    text-align: center;
    padding: 10px 0;
}

.title h2 {
    text-align: center;
    font-size: 46px;
}

.title {
    margin: 0 0px 10px;
    padding: 20px 10px;
    background-color: wheat;
    text-align: center;
}

.text p {
    font-size: 22px;
    text-align: center;
}

.text .text_index {
    background-color: orange;
}

.item {
    margin: 0 10px 20px;
}

.item .text h3 {
    font-size: 24px;
    text-align: center;
}

.item .pic img {
    width: 100%;
    height: 100%;
}

.two {
    margin: 60px 0;
    background-color: lightpink;
}

@media screen and (min-width: 768px) {
    .item-group {
        display: flex;
    }
}

.header {
    height: 50px;
    background-color: lightskyblue;
    position: relative;
}

.btn {
    width: 40px;
    height: 40px;
    background-color: lightskyblue;
    display: block;
    position: absolute;
    top: 5px;
    right: 10px;
}

.btn span {
    opacity: 0;
    width: 1px;
    height: 1px;
    display: block;
    overflow: hidden;
}

.btn::before {
    content: "";
    position: absolute;
    height: 2px;
    left: 2px;
    width: 36px;
    background-color: #aaa;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 8px 0px #aaa, 0px -8px 0px #aaa;
}

nav {
    width: 40%;
    height: 100vh;
    background-color: lightskyblue;
    position: absolute;
    top: 50px;
    left: -100%;
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border-bottom: 1px solid black;
}

#menu {
    position: absolute;
}

#menu:checked~.header nav {
    left: 0;
}

@media screen and(min-width: 768px) {
    .btn {
        display: none;
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav {
        position: relative;
        left: 0;
        display: flex;
        width: auto;
        height: auto;
        top: 0;
        background-color: transparent;
    }
    nav a {
        border-bottom: none;
    }
}